
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Temel Ayarlar</h2>

Firma Logosu
Şirket Ünvanı
Firma Kısa Adı
Çalışan Sayısı
Birinci Muhatap
Cep Telefonu
Faks
Web Sitesi
E-Posta Adresi

İmza


Adres Bilgileri
Ülke
Şehir
İlçe
Sokak
Durum


Para Birimi


<h2>Çevireler</h2>
<h2>Para Birimleri</h2>

<h2>Kullanıcı Yönetimi ve Yetkiler</h2>
<h3>Kullanıcılar</h3>
<h3>Profiller</h3>
<h3>Roller</h3>
<h3>Giriş Güvenliği</h3>
    <li>Şifreler Peryodik Olarak Değiştirilsin:</li>
    <li>2 Adımlı Doğrulama - Mobil Doğrulama Uygulaması Kullanılabilir - Sms ile Doğrulama Yapılabilir - Bu ip adreslerini hariç tut:</li>
<h3>Gruplar</h3>

<h3>Veri Paylaşım Ayarları</h3>
<h3>Veri Paylaşım Kuralları</h3>
<h3>Alan Seviyesi Güvenliği</h3>
<h3>Özel Düğme Güvenliği</h3>

