@section Styles {
    <link href="~/assets/css/demo11/pages/wizard/wizard-4.css" rel="stylesheet" />
    <link href="~/assets/vendors/global/vendors.bundle.css" rel="stylesheet" />
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">
                Yeni Müşteri
            </h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <div class="kt-subheader__group" id="kt_subheader_search">
                <span class="kt-subheader__desc" id="kt_subheader_total">
                    Enter user details and submit
                </span>

            </div>

        </div>
        <div class="kt-subheader__toolbar">

            <a href="/metronic/preview/demo11/#.html" class="btn btn-default btn-bold">

                Back
            </a>

            <div class="btn-group">
                <button type="button" class="btn btn-brand btn-bold">

                    Submit
                </button>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-medical-records"></i>
                                <span class="kt-nav__link-text">Save &amp; add new</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-wizard-v4" id="kt_apps_user_add_user" data-ktwizard-state="step-first">
        <!--begin: Form Wizard Nav -->
        <div class="kt-wizard-v4__nav">
            <div class="kt-wizard-v4__nav-items nav">
                <a class="kt-wizard-v4__nav-item nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="current">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            1
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Profil
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Kişisel Bilgiler
                            </div>
                        </div>
                    </div>
                </a>
                <a class="kt-wizard-v4__nav-item nav-item" href="#" data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            2
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Adres
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Adres Bilgileri
                            </div>
                        </div>
                    </div>
                </a>
                <a class="kt-wizard-v4__nav-item nav-item" href="#" data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            3
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Kampanya
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                AL-SAT Kampanya Bilgileri
                            </div>
                        </div>
                    </div>
                </a>
                <a class="kt-wizard-v4__nav-item nav-item" href="#" data-ktwizard-type="step">
                    <div class="kt-wizard-v4__nav-body">
                        <div class="kt-wizard-v4__nav-number">
                            4
                        </div>
                        <div class="kt-wizard-v4__nav-label">
                            <div class="kt-wizard-v4__nav-label-title">
                                Özet Ekranı
                            </div>
                            <div class="kt-wizard-v4__nav-label-desc">
                                Önizleme ve Onaylama Ekranı
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--end: Form Wizard Nav -->

        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">

                        <!--begin: Form Wizard Form-->
                        <form class="kt-form" id="kt_apps_user_add_user_form">

                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Kişi Bilgileri Detayları</div>
                                <div class="kt-section kt-section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="kt-section__body">
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Kaydı Gönder</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <label class="kt-radio kt-radio--bold kt-radio--success">
                                                                <input type="radio" name="_sendTTorNot"> TT'ye Gönder
                                                                <span></span>
                                                            </label>
                                                            &nbsp;&nbsp;&nbsp;
                                                            <label class="kt-radio kt-radio--bold kt-radio--success">
                                                                <input type="radio" name="_sendTTorNot"> TT'ye Gönderme
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Üyelik Tipi</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <select id="_membershipType" name="_membershipType" class="form-control">
                                                                <option>Üyelik tipi seçiniz...</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Kimlik Tipi</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <select id="_identityType" name="_identityType" class="form-control">
                                                                <option>Kimlik tipi seçiniz...</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">TC Kimlik No</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <input id="_tcknNo" name="_tcknNo" class="form-control" type="tel" maxlength="11" placeholder="TC Kimlik no giriniz">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">TC Seri No</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <input id="_tcSeriNo" name="_tcSeriNo" class="form-control" type="text" placeholder="TC Seri no giriniz">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">TC KK Seri No</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <input id="_tckkSeriNo" name="_tckkSeriNo" class="form-control" type="text" placeholder="TC KK Seri no giriniz">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Cep Telefonu</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                                                <input id="_cell_phone_1" name="_cell_phone_1" type="tel" class="form-control" placeholder="Cep telefonu giriniz..." aria-describedby="basic-addon1">
                                                            </div>
                                                            <span class="form-text text-muted">SMS bilgilendirmesi gönderilir. <code>5554443322</code></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Cep Telefonu 2</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                                                <input id="_cell_phone_2" name="_cell_phone_2" type="tel" class="form-control" placeholder="Cep telefonu giriniz..." aria-describedby="basic-addon1">
                                                            </div>
                                                            <span class="form-text text-muted">İkinci cep telefonu... <code>5554443322</code></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="kt-section__body">
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">İsim</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <input id="_firstName" name="_firstName" class="form-control" type="text" placeholder="İsim giriniz">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Soyisim</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <input id="_lastName" name="_lastName" class="form-control" type="text" placeholder="Soyisim Giriniz">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-form-label col-lg-3 col-sm-12">Doğum Tarihi</label>
                                                        <div class="col-lg-6 col-md-9 col-sm-12">
                                                            <input id="_bornDate" name="_bornDate" type="text" class="form-control" im-insert="true" placeholder="gg/aa/yyyy">
                                                            <span class="form-text text-muted">Doğum tarihi: <code>31/12/2001</code></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Cinsiyet</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <select id="_gender" name="_gender" class="form-control">
                                                                <option>Cinsiyet Seçiniz...</option>
                                                                <option value="id">Bilinmeyen</option>
                                                                <option value="msa">Erkek</option>
                                                                <option value="ca">Kadın</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Anne Adı</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <input id="_motherName" name="_motherName" class="form-control" type="text" placeholder="Anne adı giriniz">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Baba Adı</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <input id="_fatherName" name="_fatherName" class="form-control" type="text" placeholder="Baba adı giriniz">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">E-posta Adresi</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                                                <input id="_email" name="_email" type="text" class="form-control" placeholder="mail@mail.com" aria-describedby="basic-addon1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="corporateDiv" class="row" hidden>
                                                <div class="col-12">
                                                    <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="form-group row">
                                                        <h3 class="kt-section__title kt-section__title-md">Firma Detayları</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Firma Ünvanı</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <input id="_corporateName" name="_corporateName" class="form-control" type="text" placeholder="Firma ünvanı giriniz...">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Vergi No</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <input id="_taxAdministratorNo" name="_taxAdministratorNo" class="form-control" type="text" placeholder="Vergi no giriniz..">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Vergi Dairesi İli</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <select id="_taxAdministratorCity" name="_taxAdministratorCity" class="form-control">
                                                                <option>Vergi dairesi ilini seçiniz...</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Vergi Dairesi</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <select id="_taxAdministratorDistrict" name="_taxAdministratorDistrict" class="form-control">
                                                                <option>Vergi Dairesi seçiniz...</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Firma Telefon No</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                                                <input id="_corporatePhoneNumber" name="_corporatePhoneNumber" class="form-control" type="text" placeholder="Firma telefonu giriniz" aria-describedby="basic-addon1">
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label">Kurumsal E-posta</label>
                                                        <div class="col-lg-9 col-xl-9">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                                                <input id="_corporateEmailAddress" name="_corporateEmailAddress" class="form-control" type="text" placeholder="Kurumsal e-posta giriniz" aria-describedby="basic-addon1">
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->

                            <!--begin: Form Wizard Step 2-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Kurulum ve Fatura Adres Bilgisi</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-3 mt-4">
                                                <label>Ülke:</label>
                                                <select id="_addressNationality" name="_addressNationality" class="form-control">
                                                    <option value="">Ülke seçiniz...</option>
                                                </select>
                                            </div>
                                            <div class="col-3 mt-4">
                                                <label>İl:</label>
                                                <select id="_addressCity" name="_addressCity" class="form-control">
                                                    <option value="">İl seçiniz...</option>
                                                </select>
                                            </div>
                                            <div class="col-3 mt-4">
                                                <label>İlçe:</label>
                                                <select id="_addressDistrict" name="_addressDistrict" class="form-control">
                                                    <option value="">İlçe seçiniz...</option>
                                                </select>
                                            </div>
                                            <div class="col-3 mt-4">
                                                <label>Bucak:</label>
                                                <select id="_addressTownship" name="_addressTownship" class="form-control">
                                                    <option value="">Bucak seçiniz...</option>
                                                </select>
                                            </div>
                                            <div class="col-3 mt-4">
                                                <label>Köy:</label>
                                                <select id="_addressVillage" name="_addressVillage" class="form-control">
                                                    <option value="">Köy seçiniz...</option>
                                                </select>
                                            </div>
                                            <div class="col-3 mt-4">
                                                <label>Mahalle:</label>
                                                <select id="_addressQuarter" name="_addressQuarter" class="form-control">
                                                    <option value="">Mahalle seçiniz...</option>
                                                </select>
                                            </div>
                                            <div class="col-3 mt-4">
                                                <label>Cadde/Sokak:</label>
                                                <select id="_addressCsbm" name="_addressCsbm" class="form-control">
                                                    <option value="">Cadde/sokak seçiniz...</option>
                                                </select>
                                            </div>
                                            <div class="col-3 mt-4">
                                                <label>Bina:</label>
                                                <select id="_addressBuilding" name="_addressBuilding" class="form-control">
                                                    <option value="">Bina seçiniz...</option>
                                                </select>
                                            </div>
                                            <div class="col-3 mt-4">
                                                <label>Daire:</label>
                                                <select id="_addressBB" name="_addressBB" class="form-control">
                                                    <option value="">Daire seçiniz...</option>
                                                </select>
                                            </div>
                                            <div class="col-3 mt-4">
                                                <label>Kat No:</label>
                                                <input id="_addressFlatNo" name="_addressFlatNo" type="text" class="form-control" placeholder="Kat no giriniz...">
                                            </div>
                                            <div class="col-3 mt-4">
                                                <label>Posta Kodu:</label>
                                                <input id="_addressPostCode" name="_addressPostCode" type="text" class="form-control" placeholder="Posta kodu giriniz...">
                                            </div>
                                            <div class="col-3 mt-4">
                                                <label>Adres Kodu:</label>
                                                <input id="_addressCode" name="_addressCode" type="text" class="form-control" placeholder="Adres kodu" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 2-->

                            <!--begin: Form Wizard Step 3-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Setup Your Address</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__form">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>XDSL No (TT Hizmet No)</label>
                                                    <input id="_xdslNo" name="_xdslNo" type="text" class="form-control" placeholder="XDSL no giriniz">
                                                    <span class="form-text text-muted">Please enter your Postcode.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>PSTN No (Telefon No)</label>
                                                    <input id="_pstnNo" type="text" class="form-control" name="_pstnNo" placeholder="PSTN no giriniz...">
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <input type="hidden" id="_subscriberType" value="1" />
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Güvenli İnternet Profili</label>
                                                    <select id="_secureInternetProfile" name="_secureInternetProfile" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Kampanya</label>
                                                    <select id="_campaign" name="_campaign" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Hız</label>
                                                    <select id="_speed" name="_speed" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Hız Detay</label>
                                                    <select id="_speedDetail" name="_speedDetail" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Taksit Süresi</label>
                                                    <select id="_campaignInstallmentPeriod" name="_campaignInstallmentPeriod" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>İş Türü</label>
                                                    <select id="_businessType" name="_businessType" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Alt İş Türü</label>
                                                    <select id="_businessSubType" name="_businessSubType" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Statik IP İsteniyor mu?</label>
                                                    <select id="_staticIPRequest" name="_staticIPRequest" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>XDSL Alınacak Yer</label>
                                                    <select id="_xdslPlacementLocation" name="_xdslPlacementLocation" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 pr-0 mr-0">
                                                <div class="form-group">
                                                    <label>XDSL Kullanıcı Adı</label>
                                                    <input id="_xdslUsername" name="_xdslUsername" type="text" class="form-control" placeholder="Xdsl kullanıcı adı giriniz...">
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 ml-0 pl-0">
                                                <div class="form-group">
                                                    <label>Domain</label>
                                                    <select id="_domain" name="_domain" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>XDSL Şifre</label>
                                                    <input id="_xdslPassword" name="_xdslPassword" type="text" class="form-control" placeholder="Xdsl şifre giriniz...">
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>TT Müşteri No</label>
                                                    <input id="_ttCustomerNo" name="_ttCustomerNo" type="text" class="form-control m-input" placeholder="TT Müşteri No" disabled>
                                                    <span class="form-text text-muted">Please enter your City.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 3-->

                            <!--begin: Form Wizard Step 4-->
                            <div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Review your Details and Submit</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v4__review">
                                        <div class="kt-wizard-v4__review-item">
                                            <div class="kt-wizard-v4__review-title">
                                                Your Account Details
                                            </div>
                                            <div class="kt-wizard-v4__review-content">
                                                John Wick
                                                <br /> Phone: +61412345678
                                                <br /> Email: johnwick@reeves.com
                                            </div>
                                        </div>
                                        <div class="kt-wizard-v4__review-item">
                                            <div class="kt-wizard-v4__review-title">
                                                Your Address Details
                                            </div>
                                            <div class="kt-wizard-v4__review-content">
                                                Address Line 1
                                                <br /> Address Line 2
                                                <br /> Melbourne 3000, VIC, Australia
                                            </div>
                                        </div>
                                        <div class="kt-wizard-v4__review-item">
                                            <div class="kt-wizard-v4__review-title">
                                                Payment Details
                                            </div>
                                            <div class="kt-wizard-v4__review-content">
                                                Card Number: xxxx xxxx xxxx 1111
                                                <br /> Card Name: John Wick
                                                <br /> Card Expiry: 01/21
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 4-->

                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold" data-ktwizard-type="action-prev">
                                    Geri Dön
                                </div>
                                <div class="btn btn-success btn-md btn-tall btn-wide kt-font-bold" data-ktwizard-type="action-submit">
                                    Kaydet
                                </div>
                                <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold" data-ktwizard-type="action-next">
                                    Devam Et
                                </div>
                            </div>
                            <!--end: Form Actions -->

                        </form>
                        <!--end: Form Wizard Form-->

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end:: Content -->


@section Scripts {

    <script src="~/assets/js/demo11/pages/crud/forms/widgets/bootstrap-datepicker.min.js"></script>

    <script src="~/js/add-user.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/customCall.js"></script>
    <script src="~/js/customer.js"></script>

    <script>
        $("#_cell_phone_1").inputmask("mask", { "mask": "(599) 999-9999" });
        $("#_cell_phone_2").inputmask("mask", { "mask": "(999) 999-9999" });
        $("#_corporatePhoneNumber").inputmask("mask", { "mask": "(999) 999-9999" });
        //$("#_tcknNo").inputmask("mask", { "mask": "99999999999" });
        $("#_bornDate").inputmask("99/99/9999", { "placeholder": "gg/aa/yyyy", autoUnmask: true });
    </script>
}